.main{
    margin-top: 10%;
}

.main p{
    color: red;
}

.main-login{
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin: 0 auto;
}

.main-login h4{
    margin: 0;
}

.main-login button{
    
}